           <!-- Start Aviary -->
            <div class="container-fluid">
              <div class="row">
                <!-- Start Carousel -->
                <div class="carousel slide col-md-5" data-ride="carousel">
                  <h2>Aviary</h2>
                  <div class="carousel-inner leftSide">
                    <div class="carousel-item active">
                      <img src="./assets/images/aviary/aviary-front.jpg" class="d-block w-100" alt="Aviary Front">
                    </div>
                    <div class="carousel-item">
                      <img src="./assets/images/aviary/aviary-interior.jpg" class="d-block w-100" alt="Aviary Interior">
                    </div>
                    <div class="carousel-item">
                      <img src="./assets/images/aviary/aviary-food.jpg" class="d-block w-100" alt="Aviary Food">
                    </div>
                  </div>
                </div>
                <!-- End Carousel -->
                <!-- Start Card -->
                <div class="card border border-secondary col-md-6" id="rightSide" style="width: 25rem;">
                  <div class="card-body">
                    <h5 class="card-title">Restaurant Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad rerum sint qui cum quam expedita consequatur! Expedita rerum vero sequi quidem dolorum sapiente reiciendis incidunt qui, hic animi consectetur blanditiis.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">brick/trailer</li>
                    <li class="list-group-item">delivery/curbside/takeout</li>
                    <li class="list-group-item">Reservations</li>
                    <li class="list-group-item">Parking</li>
                    <li class="list-group-item">Phone Number</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Restaurant Website</a>
                    <a href="#" class="card-link">Directions</a>
                  </div>
                </div>
                <!-- End Card -->
              </div>
            </div>
            <!-- End Aviary -->
            <br>
            <br>

