<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title class="main-title">Eat Out, Austin!</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <!-- CSS (includes Bootstrap)-->
  <link href="/public/stylesheets/styles.css" rel="stylesheet" />
</head>

<body>
  <div>
    <header>
      <nav>
          {{#if loggedIn}}
          {{else}}
          {{/if}}
      </nav>
      <h1>Eat Out, Austin</h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
    {{#if loggedIn}}
    {{/if}}
</body>

</html>