<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Large Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">The industry insider's guide to dining in the ATX</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Sub Header-->
        <p class="masthead-subheading font-weight-light mb-0">Created By Food Lovers - For Food Lovers</p>
    </div>
</header>
<!-- What are You Hungry For-->
<section class="page-section dinner" id="dinner">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">What's For Dinner?</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="dropdown text-center">
            <button class="btn2 dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                What Are You Hungry For?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item"  href="/restaurants#farm-to-table" target="_blank" value="Farm to Table">Farm To Table </button>
                <button class="dropdown-item" href="/restaurants#southern" target="_blank" value="Southern American">Southern</button>
                <button class="dropdown-item" href="/restaurants#veggie" target="_blank" value="Vegetarian & Vegan">Vegan and Vegetarian</button>
                <button class="dropdown-item" href="/restaurants#asian" target="_blank" value="Asian">Asian & Asian Fusion</button>
                <button class="dropdown-item" href="/restaurants#bbq" target="_blank" value="TX BBQ">BBQ</button>
                <button class="dropdown-item" href="/restaurants#seafood" target="_blank" value="Seafood">Seafood</button>
                <button class="dropdown-item" href="/restaurants#latin-american" target="_blank" value="Mexican">Mexican</button>
                <button class="dropdown-item" href="/restaurants#french" target="_blank" value="French">French</button>
                <button class="dropdown-item" href="/restaurants#italian" target="_blank" value="Italian">Italian</button>
                <button class="dropdown-item" href="/restaurants#indian" target="_blank" value="Indian">Indian</button>
                <button class="dropdown-item" href="/restaurants#japanese" target="_blank" value="Sushi">Sushi</button>
                <button class="dropdown-item" href="/restaurants#burgers" target="_blank" value="Burgers">Burgers</button>
            </div>
        </div>
        <div class="row justify-content-center">

</section>
<!-- Why Use us Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">Why Use Eat Out, Austin</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Why Use us Section Text-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">You may wonder what sets <strong>Eat Out Austin</strong> apart from other restaurant
                    review sites. That's a great question! Well, this is a site made by food lovers, for food lovers. We
                    asked chefs, restaurant managers, bartenders, and staff where they like to dine during their free
                    time.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">While other sites simply return restaurants in your proximity based on your search
                    filters, <strong>Eat Out Austin</strong> is an insider's guide to the Austin industry professionals
                    preferred dining places. They range from fine dining to dives, but rest assured they'll all sure to
                    blow your mind!</p>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Be a Contributor Section-->
<section class="page-section" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Be a Contributor!</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="masthead-subheading text-center font-weight-light mb-0">Do you know great places to eat around Austin
            that simply can't be missed?<a href="mailto:corycneel@gmail.com"> </br>SEND US AN EMAIL</a> and become part
            of the team!</p>
    </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Check Us Out ***INCLUDE PROFILE LINKS HERE-->
            <div class="text-center">
                <div class="dropup">
                    <button class="dropbtn">Check Us Out!</button>
                    <div class="dropup-content">
                        <a href="https://cocobeware83.github.io/coryneel/" target="_blank">Cory N.</a>
                        <a href="https://dragoonkite.github.io/portfolio/" target="_blank">Frank D.</a>
                        <a href="https://blueink38.github.io/new-portfolio/" target="_blank">Jason F.</a>
                        <a href="https://jnunez1229.github.io/juan-nunez/" target="_blank">Juan N.</a>
                        <a href="https://rocketorangemen.github.io/Portfolio/" target="_blank">Ramon F.</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- Created by Section-->
<div class="created-by py-4 text-center text-white">
    <div class="container"><small>Created by: Best-Team</small></div>
</div>