
<div>
<form class="login-form mt-3">
  <div class="mb-3">
    <label for="email-login" class="form-label">email:</label>
    <input type="text" id="email-login" class="form-control w-25"/>
  </div>

  <div class="mb-3">
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" class="form-control w-25"/>
  </div>

  <div>
    <button type="submit" class="btn btn-outline-dark ">login</button>
    <button class="btn btn-primary"><a href="/signup">sign up here!</a></button>
  </div>
  
</form>
</div>

<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">username:</label>
    <input type="text" id="username-signup" class="form-control w-25"/>
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">email:</label>
    <input type="text" id="email-signup" class="form-control w-25"/>
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" id="password-signup" class="form-control w-25"/>
  </div>
  <div class="mb-3">
    <label for="firstName-signup" class="form-label">first name:</label>
    <input type="first-name" id="firstName-signup" class="form-control w-25"/>
  </div>
    <div class="mb-3">
    <label for="lastName-signup" class="form-label">last name:</label>
    <input type="last-name" id="lastName-signup" class="form-control w-25"/>
  </div>
  <div>
    <button type="submit" class="btn btn-outline-dark">signup</button>
    <button class="btn btn-dark"><a href="/login">log in here!</a></button>
  </div>
</form>


<script src="/javascript/login.js"></script>