<div style="padding-left: 2%; padding-top: 120px">
  <h1>Join Our Community!</h1>
  <form class="signup-form">
    <div class="mb-3">
      <label for="username-signup" class="form-label">Username:</label>
      <input type="text" id="username-signup" class="form-control w-50" />
    </div>
    <div class="mb-3">
      <label for="username-signup" class="form-label">First Name:</label>
      <input type="text" id="firstName-signup" class="form-control w-50" />
    </div>
    <div class="mb-3">
      <label for="username-signup" class="form-label">Last Name:</label>
      <input type="text" id="lastName-signup" class="form-control w-50" />
    </div>
    <div class="mb-3">
      <label for="email-signup" class="form-label">Email:</label>
      <input type="text" id="email-signup" class="form-control w-50" />
    </div>
    <div class="mb-3">
      <label for="password-signup" class="form-label">Password:</label>
      <input type="password" id="password-signup" class="form-control w-50" />
    </div>
    <div>
      <button type="submit" class="btn btn-outline-dark submitsignup" id="signUp" onclick="signupFormHandler()">Signup</button>
    </div>
  </form>
  <br>
  <br>

  <div>
    <h1>Already a member?</h1>
  <form class="login-form mt-3" id="login-form">
    <div class="mb-3">
      <label for="email-login" class="form-label">Email:</label>
      <input type="text" id="email-login" class="form-control w-50"/>
    </div>

    <div class="mb-3">
      <label for="password-login" class="form-label">Password:</label>
      <input type="password" id="password-login" class="form-control w-50"/>
    </div>

    <div>
      <button type="submit" class="btn btn-outline-dark submitlogin mb-5">Login</button>
    </div>
    
  </form>
  </div>

<script src="/javascript/login.js"></script>