
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Large Heading-->
      <h1 class="page-section text-uppercase mb-0">The insider scoop on some of the best places to eat in the ATX</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
        <div class="divider-custom-line"></div>
      </div>
    </div>
  </header>

  <section class="page-section dinner" id="farm-to-table">
    <div class="container">
      <h3 class="page-section text-center text-uppercase text-secondary mb-0" style= "font-size: 50px">
        {{#restaurant}}
        {{#if @first}}
        {{this.food_style}}
        {{/if}}
        {{/restaurant}}</h3>
        
      <div class="divider-custom">
        <div class="divider-custom-line" style= ></div>
        <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
        <div class="divider-custom-line"></div>
      </div>

      {{#each restaurant as |restaurant|}}
      {{> restaurant-info restaurant}}
      {{/each}}

