<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Eat Out, Austin</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <div class="dropdown">
            <button class="btn2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Choose Another Style
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#farm-to-table">Farm To Table</a>
              <a class="dropdown-item" href="#southern">Southern</a>
              <a class="dropdown-item" href="#veggie">Vegan and Vegetarian</a>
              <a class="dropdown-item" href="#asian">Asian & Asian Fusion</a>
              <a class="dropdown-item" href="#bbq">BBQ</a>
              <a class="dropdown-item" href="#seafood">Seafood</a>
              <a class="dropdown-item" href="#latin-american">Latin American</a>
              <a class="dropdown-item" href="#french">French</a>
              <a class="dropdown-item" href="#italian">Italian</a>
              <a class="dropdown-item" href="#indian">Indian</a>
              <a class="dropdown-item" href="#japanese">Japanese-Sushi</a>
              <a class="dropdown-item" href="#burgers">Burgers</a>


            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>


  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Large Heading-->
      <h1 class="page-section text-uppercase mb-0">The insider scoop on some of the best places to eat in the ATX</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
        <div class="divider-custom-line"></div>
      </div>
    </div>
  </header>

  <!-- Start Farm to Table-->
  {{!-- <section class="page-section dinner" id="farm-to-table">
    <div class="container">
      <h3 class="page-section text-center text-uppercase text-secondary mb-0">Farm To Table</h3>
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-utensils"></i></div>
        <div class="divider-custom-line"></div>
      </div> --}}

      {{#each restaurant as |restaurant|}}
      {{> restaurant-info }}
      {{/each}}


  <!-- Footer-->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <a class="nav-link text-white" href="#page-top">BACK TO TOP OF PAGE</a>

        </div>
      </div>
    </div>
  </footer>
  <!-- Created by Section-->
  <div class="created-by py-4 text-center text-white">
    <div class="container"><small>Created by: Best-Team</small></div>
  </div>
